header{
  line-height: auto;
  height: 60px;
  padding: 10px;
}
.primary-background{
    background-color: #232f3e;
}
.logo{
  float:left;
}
.btn-warning{
  float:right;
}
.orange-text{
  color:#ff9900;
  text-align: center;
  margin-top: 5%;
}
.item{
  float:left;
}
.price{
  float:right;
}
.blue-text{
  color: #007aff;
}
.gray-text{
  color:gray;
  font-style: italic;
}
main{
  width:90%;
  margin:auto;
}
.red-text{
  color: red;
}
.row{
  border-top:1px solid gray; 
  border-bottom:1px solid gray;
}
